<configuration>
  <system.webServer>
    <handlers>
      <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\bruno\OneDrive\Documentos\Legend\scan-labels-py\venv\Scripts\python.exe|&quot;C:\Users\bruno\OneDrive\Documentos\Legend\scan-labels-py\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    
    <rewrite>
      <rules>
        <rule name="Flask" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="app.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\Users\bruno\OneDrive\Documentos\Legend\scan-labels-py" />
        <add key="WSGI_HANDLER" value="app.app" />
    </appSettings>
</configuration>